# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ttt_project?sslmode=disable
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ttt_project
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8080
BACKEND_HOST=localhost
GIN_MODE=debug

# Frontend
VITE_API_URL=http://localhost:8080
VITE_APP_TITLE="TTT Project"

# Atlas
ATLAS_VERSION=latest
